@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Eggshell);
}

.container {
    margin: 10% 0 5% 0;
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: var(--White);
    border-radius: 1rem;
}

    .container__img {
        margin: 1rem;
        width: 94%;
        height: 18rem;
        border-radius: 1rem;
        background-image: url(../assets/images/image-omelette.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container__presentation {
        padding: 1rem;
        margin: 0.5rem;
    }
        .container__presentation-title {
            font-size: 2rem;
            font-family: var(--fontYoung);
            font-weight: 400;
            color: var(--Dark-Charcoal);
            margin: 1rem 0 1rem 0;
        }

        .container__presentation-text {
            font-size: 0.9rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color: var(--Wenge-Brown);
            line-height: 1.3rem;
        }

    .container__preparation {
        background-color: var(--Rose-White);
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }

        .container__preparation-title {
            font-size: 1.4rem;
            font-family: var(--fontOutfit);
            font-weight: 600;
            color: var(--Dark-Raspberry);
        }

        .container__preparation-list {
            padding: 1rem;
            line-height: 1.6rem;
        }

        .container__preparation-list--item {
            font-size: 1rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color: var(--Nutmeg);
            margin-left: 0.5rem;
            padding-left: 1rem;
        }

    .container__ingredients {
        margin: 1rem;
        box-shadow: 0 1px var(--Light-Grey);
    }

        .container__ingredients-title {
            font-size: 2rem;
            font-family: var(--fontYoung);
            font-weight: 400;
            color: var(--Nutmeg);
        }

        .container__ingredients-list{
            padding: 1rem;
            line-height: 1.6rem;
        }

        .container__ingredients-list--item {
            font-size: 1rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color: var(--Wenge-Brown);
            margin-left: 0.5rem;
            padding-left: 1rem;
        }
    
    .container__instructions {
        margin: 1rem;
        box-shadow: 0 1px var(--Light-Grey);
    }

        .container__instructions-title {
            font-size: 2rem;
            font-family: var(--fontYoung);
            font-weight: 400;
            color:var(--Nutmeg);
        }

        .container__instruction-list {
            padding: 1rem;
            line-height: 1.6rem;
        }

        .container__instruction-list--item {
            font-size: 1rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color: var(--Wenge-Brown);
            margin:1rem 0 0 0.5rem;
            padding-left: 1rem;
        }

        li::marker {
            color: var(--Nutmeg);
            font-weight: bold;
        }

    .container__nutrition {
        margin: 1rem;
    }
        .container__nutrition-title {
            font-size: 2rem;
            font-family: var(--fontYoung);
            font-weight: 400;
            color: var(--Nutmeg)
        }
        
        .container__nutrition-table {
            width: 94%;
        }

        .container__nutrition-table--caption {
            text-align: start;
            font-size: 0.9rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color:var(--Wenge-Brown);
            margin: 1rem 0 1rem 0;
        }

        .container__nutrition-table--tr {
            box-shadow: 0 1px var(--Light-Grey);
        }

        .container__nutrition-table--col1 {
            padding: 1rem;
            font-size: 0.9rem;
            font-family: var(--fontOutfit);
            font-weight: 400;
            color: var(--Wenge-Brown)
        }

        .container__nutrition-table--col2 {
            font-size: 0.9rem;
            font-family: var(--fontOutfit);
            font-weight: 700;
            color: var(--Nutmeg);
        }

.attribution {
    width: 15vw;
    height: 10vh;
    border: 0.2rem solid var(--Nutmeg);
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    background-color: var(--Rose-White);
    font-family: var(--fontYoung);
}

    .attribution__text {
        padding: 0.5rem;
        font-size: 0.8rem;
        color: var(--Wenge-Brown)
    }

    .attribution__link {
        color: var(--Wenge-Brown);
        text-decoration: none;
    }

    .attribution__link:hover {
        color: var(--Nutmeg);
        text-decoration: underline;
        font-weight: bold;
    }